/*footer*/
.footer {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    align-items: center;
    color: #878787;
  }
  /*footer*/
  
  /*navbar*/
  .navbar {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000000;
  }
  /* navbar */