@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans&family=Montserrat&family=Montserrat+Alternates&display=swap');

/*footer*/
.footer {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  align-items: center;
  color: #878787;
}

.footer li{
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer a {
  text-decoration: none;
  color: #2d0091;
}
/*footer*/

/*navbar*/
.navbar {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: #383838c5 ;
}

.navbar-brand{
  font-family: 'Montserrat Alternates', sans-serif;
}

/* navbar */
:root {
  --animationSpeed: 30s;
}


/*Giris*/
.hr {
  background-color: #eee;
  padding: 0;
  border: 0;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(45, 0, 145, 100),
    rgba(0, 0, 0, 0)
  );
}

/* .banner-text {
  width: 100%;
  position: absolute;
} */

.banner-text h2 {
  text-align: center;
  color: #2d0091;
  font-size: 80px;
  font-family: Josefin Sans;
  font-weight: bolder;
  padding: 50px;
}

.about{
  min-height: 100vh;
}
/* .animation-area {
  background: linear-gradient(to left, #2d0091, #2e0091ce);
  background: #eee;
  width: 100%;
  min-height: 100vh;
} */

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  bottom: -150px;
  background: #2d0091;
  animation: animate var(--animationSpeed) infinite linear;
}
@keyframes animate {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1200px) rotate(360deg);
    opacity: 1;
  }
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 8s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 110px;
  height: 110px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0.5s;
  animation-duration: 8s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
  animation-duration: 15s;
}


/**/
.baslik {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #2d0091;
}
.description {
  font-family: Josefin Sans;
  font-style: normal;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #8d8d8d;
}
/**/
.bg{
  background: #2D0091;
  min-height: 100vh;
}