@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans&family=Montserrat&family=Montserrat+Alternates&display=swap");
/*footer*/
.footer {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  align-items: center;
  color: #878787;
}

.footer li {
  font-family: "Montserrat Alternates", sans-serif;
}

.footer a {
  text-decoration: none;
  color: #2d0091;
}
/*footer*/

/*navbar*/
.navbar {
  font-family: Josefin Sans; 
  color: #fff;
  background-color: #383838cb ;
}

.navbar-brand {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.5rem;
  font-size: 24px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
  color: #fff;
  font-size: 1.1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
  color: #000;
}

/* navbar */



/* ENTERY */

.mid{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.mid video{
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  position: absolute;
}

.mid .hero{
  position: relative;
  font-family: Josefin Sans;
  color: rgba(255, 255, 255, 0.74);
}

.mid .hero a {
  text-decoration: none;
  color: #fff;
}

.mid .hero h1 {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 30px;
  line-height: 50px;
  font-size: 30px;
  font-weight: 600;
}
/*ENTERY*/
#duyu {
  width: 100%;
  min-height: 100vh;
}

.card svg {
  width: 10%;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  margin: 50px 20px 50px 20px;
  animation: lazymove 3s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
  border: none;
  padding: 75px;
  justify-content: center;
}

.card h3 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  margin: 0em;
  color: #2d0091;
  font-family: "Montserrat Alternates", sans-serif;
}

.card p {
  font-size: 23px;
  line-height: 40px;
  margin: 0px 0px 0px 0px;
  font-family: Josefin Sans;
}

.hr {
  background-color: #fff;
  padding: 0;
  margin: 20px;
  border: 0;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(45, 0, 145, 100),
    rgba(0, 0, 0, 0)
  );
}

.shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  filter: blur(10px);
  animation: shadowmove 3s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
  margin: 0px auto;
  border-radius: 10px;
  transform: perspective(900px) rotatex(80deg);
}

.credit a {
  text-transform: uppercase;
  font-size: 0.4em;
  text-decoration: none;
  letter-spacing: 3px;
  color: var(--basecolor);
  margin: 0px;
  width: 100%;
}

@keyframes lazymove {
  0% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}

@keyframes lazymove2 {
  0% {
    transform: rotate(6deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0.9);
  }
}

@keyframes lazymove3 {
  0% {
    transform: translate(0px, -5px) scale(1);
  }
  100% {
    transform: translate(0px, 5px) scale(0.8);
  }
}

@keyframes lazymove4 {
  0% {
    transform: rotate(-3deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0.9);
  }
}

@keyframes shadowmove {
  0% {
    opacity: 0.3;
    transform: scaleX(1.2) perspective(900px) rotatex(80deg);
  }
  100% {
    opacity: 0.8;
    transform: scaleX(0.7) perspective(900px) rotatex(80deg);
  }
}

/* BUTTON STYLES */
.buttonr-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
}

.buttonr {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #3a45c7;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: 0.5s all ease-in-out;
}

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

.button-pulse {
  animation: pulse 1.2s infinite 1s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 #3a45c7;
  text-decoration: none;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 6px #3a46c78e;
  }
}

.button-float {
  animation: float 1.5s linear alternate infinite;
}

@keyframes float {
  50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}

/* <!-- ============================== DUYU SECOND VERSION ============================== --> */
section {
  position: relative;
  width: 100%;
  /* height:100vh; */
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
}

.background span {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #9464ec;
  box-shadow: 0px 0px 10px #9464ec, 0px 0px 40px #2d0091, 0px 0px 80px #2d0091,
    0px 0px 120px #3a45c7, 0px 0px 200px #3a45c7;
  border-radius: 30%;
  outline: none;
}
.background span:nth-child(n + 1) {
  background: transparent;
  border: 5px solid #3a45c7;
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  100% {
    border: 5px solid #2d0091;
    background: #9464ec;
  }
}
.background span:nth-child(1) {
  top: 100%;
  left: 20%;
  animation: animate 10s linear infinite;
}

.background span:nth-child(2) {
  top: 100%;
  left: 60%;
  animation: animate 18s linear infinite;
}

.background span:nth-child(3) {
  top: 100%;
  left: 80%;
  animation: animate 25s linear infinite;
}

.background span:nth-child(4) {
  top: 100%;
  left: 40%;
  animation: animate 14s linear infinite;
}

.background span:nth-child(5) {
  top: 100%;
  left: 30%;
  animation: animate 17s linear infinite;
}

.background span:nth-child(6) {
  top: 100%;
  left: 60%;
  animation: animate 6s linear infinite;
}

.background span:nth-child(7) {
  top: 65%;
  left: 25%;
  animation: animate 14s linear infinite;
}

.background span:nth-child(8) {
  top: 90%;
  left: 77%;
  animation: animate 14s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: rotateZ(180) translateX(-50px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translateY(-500px) rotateZ(360deg) translateX(80px);
    z-index: 1000;
    opacity: 0.3;
  }
}

.duyu h2 {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: arial;
  text-transform: uppercase;
  top: 50%;
  position: static;
  font-size: 5em;
  text-shadow: 0px 0px 10px cyan, 0px 0px 40px cyan, 0px 0px 80px purple,
    0px 0px 120px cyan, 0px 0px 200px cyan;
}

.features-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  font-family: Josefin Sans;
}

@media (min-width: 650px) {
  .features-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    font-family: Josefin Sans;
  }
}

@media (min-width: 650px) {
  .inverse {
    order: 2;
  }
}

.features-image img {
  width: 100%;
}

@media (min-width: 650px) and (max-width: 899px) {
  .features-text h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .features-text h3 {
    font-size: 2rem;
    font-family: Josefin Sans;
  }
}

.features-text p {
  line-height: 1.3;
  font-family: Josefin Sans;
}

@media (min-width: 1200px) {
  .features-text p {
    font-size: 1.25rem;
    font-family: Josefin Sans;
  }
}

/*industries*/
.industries {
  background: rgba(255, 194, 79, 0.5);
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 3px,
    transparent 5px,
    transparent 16px
  );
  background-size: 8px 8px;
  min-height: 50vh;
}
.row {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img {
  border: 5px solid #ffa700;
  box-sizing: border-box;
}

.text-i {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #ffa700;
}

.img-in {
  border: 5px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  opacity: 0.8;
}

.text-in {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #777777;
}
/*industries*/

/*duyu*/
main {
  background: linear-gradient(-45deg, #2d0091, #2d0091, #2d0091);
  animation: gradient 3s ease infinite;
  height: 110vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*dn*/
.center {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: black;
  background-image: url(../image/endustri40.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center__text {
  margin: auto;
  font-family: Amatic SC;
  font-size: 120px;
  text-transform: uppercase;
  text-align: center;
}

.glitch {
  position: relative;
  color: rgb(212, 211, 211);
}
.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffd27e;
  clip: rect(0, 0, 0, 0);
}
.glitch:before {
  left: -1px;
  text-shadow: 10px 0 rgba(0, 119, 255, 0.7);
}
.glitch:after {
  left: 1px;
  text-shadow: 5px 0 rgba(255, 208, 0, 0.7);
}
.glitch:hover:before {
  text-shadow: 10px 0 rgba(0, 102, 255, 0.7);
  animation: glitch-loop-1 10s infinite ease-in-out alternate-reverse;
}
.glitch:hover:after {
  text-shadow: -5px 0 rgba(0, 102, 255, 0.7);
  animation: glitch-loop-2 10s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}
@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}
/*button*/

/*request a demo*/
.text-container > span {
  text-transform: uppercase;
  animation: glow 1.25s ease-in-out infinite;
  font-family: Amatic SC;
  font-size: 110px;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
  }

  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}

.text-container > span:nth-child(1) {
  animation-delay: 0s;
}

.text-container > span:nth-child(2) {
  animation-delay: 0.5s;
}

.text-container > span:nth-child(3) {
  animation-delay: 1s;
}

#dandelion-group {
  animation: lazymove4 3s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
  transform-origin: center bottom;
}

.dandelion-right {
  fill: var(--basecolor);
  transform-origin: center bottom;
  animation: lazymove2 3s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}

.dandelion-left {
  fill: var(--basecolor);
  transform-origin: center bottom;
  animation: lazymove4 3s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}

/* BUTTON STYLES */

.buttonr {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  margin: 40px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: 0.5s all ease-in-out;
}

.buttonr-float1 {
  animation: float1 1.5s linear alternate infinite;
}

@keyframes float1 {
  50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}
/*request a demo*/